[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "aplot"]
	path = aplot
	url = https://github.com/yulab-smu/aplot
	shallow = true
	registered = true
[submodule "ggbreak"]
	path = ggbreak
	url = https://github.com/yulab-smu/ggbreak
	shallow = true
	registered = true
[submodule "MMINP"]
	path = MMINP
	url = https://github.com/yulab-smu/mminp
	shallow = true
	registered = true
[submodule "nCov2019"]
	path = nCov2019
	url = https://github.com/yulab-smu/ncov2019
	shallow = true
	registered = true
[submodule "scholar"]
	path = scholar
	url = https://github.com/yulab-smu/scholar
	shallow = true
	registered = true
[submodule "seqmagick"]
	path = seqmagick
	url = https://github.com/yulab-smu/seqmagick
	shallow = true
	registered = true
[submodule "TDbook"]
	path = TDbook
	url = https://github.com/yulab-smu/tdbook
	shallow = true
	registered = true
[submodule "tidydr"]
	path = tidydr
	url = https://github.com/yulab-smu/tidydr
	shallow = true
	registered = true
[submodule "tidytree"]
	path = tidytree
	url = https://github.com/yulab-smu/tidytree
	shallow = true
	registered = true
[submodule "ChIPseeker"]
	path = ChIPseeker
	url = https://github.com/yulab-smu/chipseeker
	shallow = true
	registered = true
[submodule "enrichplot"]
	path = enrichplot
	url = https://github.com/GuangchuangYu/enrichplot
	shallow = true
	registered = false
[submodule "treeio"]
	path = treeio
	url = https://github.com/GuangchuangYu/treeio
	shallow = true
	registered = false
