[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MMINP"]
	path = MMINP
	url = https://github.com/yulab-smu/mminp
[submodule "TDbook"]
	path = TDbook
	url = https://github.com/yulab-smu/tdbook
[submodule "aplot"]
	path = aplot
	url = https://github.com/yulab-smu/aplot
[submodule "aplotExtra"]
	path = aplotExtra
	url = https://github.com/yulab-smu/aplotextra
[submodule "fanyi"]
	path = fanyi
	url = https://github.com/yulab-smu/fanyi
[submodule "ggbreak"]
	path = ggbreak
	url = https://github.com/yulab-smu/ggbreak
[submodule "ggfun"]
	path = ggfun
	url = https://github.com/yulab-smu/ggfun
[submodule "scatterpie"]
	path = scatterpie
	url = https://github.com/yulab-smu/scatterpie
[submodule "scholar"]
	path = scholar
	url = https://github.com/yulab-smu/scholar
[submodule "seqmagick"]
	path = seqmagick
	url = https://github.com/yulab-smu/seqmagick
[submodule "shinyTempSignal"]
	path = shinyTempSignal
	url = https://github.com/yulab-smu/shinytempsignal
[submodule "tidydr"]
	path = tidydr
	url = https://github.com/yulab-smu/tidydr
[submodule "tidytree"]
	path = tidytree
	url = https://github.com/yulab-smu/tidytree
[submodule "wikiprofiler"]
	path = wikiprofiler
	url = https://github.com/yulab-smu/wikiprofiler
[submodule "yulab.utils"]
	path = yulab.utils
	url = https://github.com/yulab-smu/yulab.utils
